
<!DOCTYPE html>
<html lang="en" ng-app=lunchItApp>
<head>
	<meta charset="utf-8">
	<title>Lunch It</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.css" />
	<link type="text/css" rel="stylesheet" href="/css/main.css" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap-responsive.css" />
	
	<script src="/js/bootstrap/bootstrap.js"></script>
	<script src="/js/jquery/jquery-1.10.2.js"></script>
	<script src="/js/jquery/jquery-ui-1.10.4.js"></script>
	<script src="/js/angular/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
	
	
	<script src="/js/app.js"></script>
	<script src="/js/shoppingCart.js"></script>
	<script src="/js/controllers.js"></script>
	<script src="/js/facebook-api.js"></script>
</head>

<body ng-controller="MenuListCtrl">


	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>
				</button>
				<a class="brand" href="#">Lunch It</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="">Wed Jun 18 11:08 PM</a></li>
						<li><div class="fb-login-button" data-show-faces="true"
								data-auto-logout-link="true" data-scope="public_profile"></div></li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>
	</div>
	

	<div class="container">
		<div ng-repeat="rest in restaurants">
			<div class="row">
				<div class="span12">
					<h3>{{rest[0].resturant.restaurantName}}</h3>
				</div>
			</div>
			
			<div class="row" ng-repeat="menu in rest">
				<div class="span3">{{menu.menuName}}</div>
  				<div class="span1">${{menu.menuPrice}}</div>
  				<div class="span1">
  					<a href="" ng-click="cart.addItem(menu.menuId, 1)">add to cart</a>
  				</div>
			</div>
			<br/>
		</div>
		
  		<hr/>
  		<div class="row">
			<div class="span3">Total Charge</div>
  			<div class="span1">{{cart.getTotalPrice() | currency}}</div>
  			<div class="span2">Total Order</div>
  			<div class="span1">{{cart.getTotalCount()}}</div>
  			<div class="span2">
  				<button class="btn btn-warning btn-small" type="button">Check Out</button>
  			</div>
  		</div>
	</div>
	
</body>
</html>






